//Header and Navigation
$header-color: #e7e7e7;
$navigation-item-hover-color: #d0d0d0;

//Input
$input-border-color: #a2a2a2;

//Button
$button-background-default: #f7f7f7;
$button-border-color-default: #7b7b7b;
$button-background-default-hover: #dedede;
$button-background-primary: #347fd0;
$button-border-color-primary: #578cc5;
$button-background-primary-hover: #275d98;

//Footer
$footer-background: #333333;
$footer-color: #ffffff;

//Search Box
$box-header-background: #eeeeee;
$box-header-border-color: #dddddd;
$box-border-color: #dddddd;
$box-background: transparent;


