.SearchBar{
    margin: 0 auto;
    width: 500px;
}

.ButtonPosition {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 750px){
    .SearchBar {
        width: 100%;
    }
}
