@import '../../../application';

.Button {
    border-radius: 3px;
    cursor: pointer;    
}

.Button.big {
    padding: 10px;
}

.Button.default {
    background: $button-background-default;
    color: #000;
    border: 1px solid $button-border-color-default;
}
.Button.default:hover {
    background: $button-background-default-hover;        
}

.Button.primary {
    background: $button-background-primary;
    color: #fff;    
    border: 1px solid $button-border-color-primary;
}
.Button.primary:hover {
    background: $button-background-primary-hover;        
}